{{- $id := "deviantart" -}}
{{- $name := add "icon-" $id -}}
{{- if lt (.Scratch.Get $name) (len .OutputFormats) -}}
{{- .Scratch.Set $name (add (int (.Scratch.Get $name)) 1) -}}
<svg class="clip" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
<defs>
<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" id="{{ $id }}" fill="currentcolor"><path d="M1408 303l-303 582 24 31h279v415h-507l-44 30-142 273-30 30h-301v-303l303-583-24-30h-279v-415h507l44-30 142-273 30-30h301v303z"/></svg>
</defs>
</svg>
{{- end }}